name: build-source

on: [push]

jobs:
  build-source:
    strategy:
      matrix:
        node-version: [10, 12, 14, 15, 16]
    runs-on: ubuntu-latest
    container: boringcodes/dev-runner:node-${{matrix.node-version}}-alpine
    name: With Node.js ${{matrix.node-version}}
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
      - name: Install dependencies
        run: yarn
      - name: Build source
        run: yarn build
